body{
    background-color: lightgrey;
}

.form-container{
    display: flex;
    margin: 20px auto;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    max-width: 768px;
    border-radius: 20px;
    background-color: white;
    padding: 50px 0 50px;
}

.form-container h2{
    font-size: 26px;
}

.inputs-container{
    display: flex;
    padding: 20px;
    background-color: #ebebeb;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#inputTask{
    border-radius: 5px;
    border: 1px solid white;
    padding: 5px;
}

#btnNewTask{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: dodgerblue;
    cursor: pointer;
}

#btnNewTask:hover{
    border: 1px solid white;
    background-color: blue;
    color: white;
}

.h1card{
    padding: 10px;
    background-color: #ebebeb;
    border-radius: 10px;
}

.listcontainer{
    display: flex;
    margin: 30px auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 768px;
    gap: 15px;
    background-color: white;
    padding: 50px;
}

.div-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.removbtn{
    display: flex;
    padding: 3px;
    border-radius: 5px;
    background-color: #eb5800;
    color: black !important;
    cursor: pointer;
}
.removbtn:hover{
    background-color: crimson;
    border: 1px solid white;
}

/*Edit*/

.editbtn{
    display: flex;
    padding: 3px;
    border-radius: 5px;
    background-color: #4b4beb;
    color: black !important;
    cursor: pointer;
}
.editbtn:hover{
    background-color: green;
    border: 1px solid white;
}

.modalwindow{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    opacity: 0.7;
    margin: 0 auto;
    background-color: red;
    width: 300px;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    z-index: 2;
}

li span{
    font-size: 18px;
}


.notdone{
    color: black;
    width: 500px;
    max-width: 768px;
    list-style: none;
    background-color: #f6f3f3;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 185, 252, 0.81);
}

.notdone:hover{
    padding: 15px;
    transition: 0.7s;
    cursor: pointer;
}

.done{
    color: white;
    background-color: dodgerblue;
    opacity: 0.5;
}




