body{
    background-color: white;
}

.form-container{
    display: flex;
    margin: 20px auto;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    max-width: 768px;
    border-radius: 20px;
    background-color: ghostwhite;
    padding: 50px 0 50px;
    border: 1px solid #a9a9a93b;
}

.form-container h2{
    font-size: 26px;
}

.inputs-container{
    display: flex;
    padding: 20px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#inputTask{
    border-radius: 5px;
    border: 1px solid #80808061;
    padding: 5px;
    width: 500px;
}

#btnNewTask{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: dodgerblue;
    cursor: pointer;
}

#btnNewTask:hover{
    border: 1px solid white;
    background-color: blue;
    color: white;
}

.listcontainer{
    display: flex;
    margin: 30px auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 768px;
    gap: 15px;
    background-color: ghostwhite;
    border: 1px solid #a9a9a93b;
    padding: 50px;
}

.div-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

li{
    color: black;
    width: 100%;
    max-width: 768px;
    list-style: none;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #a9a9a93b;
}
li:hover{
    padding: 15px;
    transition: 0.7s;
    cursor: pointer;
    background-color: rgba(193, 229, 248, 0.51);
}

li span{
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.done{
    color: white;
    background-color: lightgreen;
    opacity: 0.5;
}
.done:hover{
    background-color: lightgreen;
    padding: 15px;
    transition: 0.7s;
    cursor: pointer;
    color: black;
}

.editbtn{
    display: flex;
    padding: 5px;
    border-radius: 5px;
    background-color: cornflowerblue;
    color: black !important;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
}

.editbtn:hover{
    background-color: #047fff;
    border: 1px solid white;
    color: white !important;
}

.removbtn{
    display: flex;
    padding: 3px;
    border-radius: 5px;
    background-color: rgba(255, 0, 0, 0.66);
    color: white !important;
    cursor: pointer;
    width: 30px;
    height: 25px;
    justify-content: center;
    align-items: center;
}
.removbtn:hover{
    background-color: red;
    border: 1px solid white;
}

/*Edit*/


.modalwindow{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin: 0 auto;
    background-color: #96c5e9;
    width: 660px;
    height: 275px;
    padding: 20px;
    border-radius: 10px;
    z-index: 2;
}

.modalwindow input{
    width: 400px;
    padding: 10px;
    border-radius: 10px;
}

.changebtn{
    border-radius: 5px;
    cursor: pointer;
    background-color: #2fe42f;
    padding: 10px;
    color: antiquewhite;
}

.changebtn:hover{
    transition: 0.7s;
    background-color: lightgreen;
    padding: 15px;
}

.closebtn{
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
    background-color: #ff4646;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.closebtn:hover{
    transition: 0.7s;
    background-color: red;
    border: 1px solid white;
    padding: 10px;
}


